.pecent {
  width: 1000px;
  height: 396px;
  background-color: rgba(237, 247, 250, 1);
  margin-top: 70px;
}

.pecent {
  padding: 20px;
}

.pecent_banners {
  display: flex;
  gap: 20px;
}

.banner {
  width: 418px;
  height: 295px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
} 